body{
    font-family: 'McLaren', cursive;
    margin: 0;
    background-image: url("img/back-img.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.log-in{
  min-width: 60vw;
  min-height: 60vh;
  background-color: white;
  border-radius: 10%;
  box-shadow: 50px 100px #398f50;
  display: flex;
  justify-content: space-around;
}

.log-in .field{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.log-in .field input{
  margin-bottom: 15px;
  height: 30px;
  border-width: 2px;
  border: solid;
}

.log-in .field button{
  background-image: linear-gradient(45deg,#5563FA , #FA5853);
  border: 1px solid;
  height: 5%;
  width: 60%;
  font-size: inherit;
}

.log-in .field button:hover{
  cursor: pointer;
}
